/* App.css */
.background-container {
	background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-63452.jpg?w=1380&t=st=1698487084~exp=1698487684~hmac=bd052edaaecf8a50585bdd1eab176ca28a34da17cd42592cda0edf296a2b40d3'); 
	/* background-size:100%; */
	height: 400px;
	background-position: center;
	color: color;
  }
  